@model HotelManagementSystem.Models.ViewModels.RoomReservationViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edited">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group disabled">
                <label asp-for="ReservationId" class="control-label">Reservation number</label>
                <input readonly asp-for="ReservationId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label">Room Number</label>
                <input asp-for="RoomNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestPhoneNumber" class="control-label">Guest Phone Number</label>
                <input asp-for="GuestPhoneNumber" class="form-control" />
                <span asp-validation-for="GuestPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodOptionId" class="control-label">Food Option</label>
                <select asp-for="FoodOptionId" class="form-control">
                    <option value="1">Dinner only</option>
                    <option value="2">Full</option>
                    <option value="3">Breakfast only</option>
                    <option value="4">No Food</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
